@import url("https://fonts.googleapis.com/css2?family=Lora:wght@500;600;700&family=Montserrat:wght@300;400;500;600;700;800&display=swap");

.card-container {
  display: flex;
  flex-direction: column;
  background: rgba(22, 25, 27, 0.5);
  border-radius: 2rem;
  backdrop-filter: blur(25px);

  padding: 4rem;
  text-align: left;
  gap: 2rem;
  width: 75vw;
}

.title-container {
  display: flex;
  gap: 2rem;
}

.title-container svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6rem;
}

.title-container h1 {
  font-weight: 700;
  font-size: 4rem;
}

.body-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.body-container h4 {
  font-size: 2rem;
  font-family: "Lora", sans-serif;
  font-weight: 600;
  padding-bottom: 1rem;
  border-bottom: 0.2rem solid #ffffff81;
}

.body-container p {
  font-size: 1.7rem;
}
